{%extends "base.html"%}
{%load i18n%}
{%block content%}
	<h1>{%trans "About me"%}</h1>
	{%blocktrans%}
		I'm a software developer; my main experience is with web development, mainly in django. I've worked with stuff
		from information retrieval to content management systems, including some java desktop development.
		Feel free to contact me for anything.  
	{%endblocktrans%}
	<h2>{%trans "Find me on the internerd"%}</h2>
	<ul id="contact-list">
		<li><a href="http://twitter.com/lfborjas">Twitter</a></li>
		<li><a href="http://facebook.com/lfborjas">Facebook</a></li>
		<li><a href="http://blipea.com/perfil/lfborjas">Blipea</a></li>
		<li><a href="mailto:me@lfborjas.com">E-Mail</a></li>
		<li><a href="http://www.rsspect.com/rss/lfborjas.xml">{%trans "Follow my RSS"%}</a></li>
	</ul>
{%endblock%}