{%extends "base.html"%}
{%load i18n%}
{%block content%}
	{%for entry in entries%}
		<h3 class="date">{{entry.published|date:"l, F d Y"}}</h3>		
		<h2><a href="{{entry.get_absolute_url}}" class="title-link">{{entry.title}}</a></h2>		
		<div class="entry">			
			{{entry.body|safe}}			
		</div>	
	{%if comments%} 
			{#this means that this is a singular entry#}
			<div id="share">
				<!-- Share on twitter -->
				<div id="twitter-share">
					<script type="text/javascript">
						tweetmeme_style = 'compact';
					</script>
					<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
				</div>										
			</div>			
	{%else%}
		<a href="{{entry.get_absolute_url}}">Comments</a>		
	{%endif%}
	{%endfor%}
	{%if show_next%}		
		<a class="pagination" href="/blog/page/{{previous_page}}/">&lt;&lt;{%trans "Previous Posts"%}</a>		
	{%endif%}
{%endblock%}
