{%extends "base.html"%}
{%block content%}
	{%for entry in entries%}
		<h2><a href="{{entry.get_absolute_url}}" class="title-link">{{entry.title}}</a></h2>
		<h3 class="date">{{entry.published|date:"l, d/m/Y H:i"}}</h3>
		<p class="entry">
			{{entry.body|safe}}
		</p>
		<a href="{{entry.get_absolute_url}}#disqus_thread">Comments</a>		
	{%endfor%}
	{%if comments%}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
  			
    		var disqus_identifier = {{entry.slug}} 
    		{%if debug%}
    			var disqus_developer=1;
    		{%endif%} 
  			(function() {
   				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   				dsq.src = 'http://lfborjas.disqus.com/embed.js';
   				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  			})();	
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=lfborjas">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>		
	{%endif%}
	{%if show_next%}		
		<a href="/blog/page/{{previous_page}}/">&lt;&lt;Previous Posts</a>		
	{%endif%}
{%endblock%}

{%block endscripts%}
	<script type="text/javascript">
		var disqus_shortname = 'lfborjas';
		(function () {
  			var s = document.createElement('script'); s.async = true;
  			s.src = 'http://disqus.com/forums/lfborjas/count.js';
  			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>	
{%endblock%}
